[submodule "frontend"]
	path = frontend
	url = https://github.com/ToanThanhTu/thanhtoantu-portfolio-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/ToanThanhTu/thanhtoantu-portfolio-backend.git
